<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title || "TodoHtmex" %></title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/app.css"/>
    <script src="https://unpkg.com/htmx.org@1.9.5" crossorigin="anonymous"></script>
    <script defer phx-track-static type="text/javascript" src="/static/app.js"></script>
  </head>
  <body hx-boost="true">
    <main class="container">
      <%= inner_content %>
    </main>
  </body>
</html>
